/* Font import */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import "./vars.scss";



// Project global stylizations

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $base-font-family;
}


body {
    overflow-x: hidden;

    main{
        width: 100vw;
        height: 100vh;

        section{
            width: 100%;
            height: initial;
            margin-bottom: 90px;
            padding-left: 40px;
            padding-right: 40px;

        .section-title {
                margin-bottom: 5px;
                color: $color-purple;
            }
        }
    }

    footer{
        display: flex;
        width: 100%;
        flex-direction: column;


        .text-final{
       width: 100%;
       display: flex;
       justify-content: center;
       align-items: center;
        }
    }

    &::-webkit-scrollbar {
        width: 8px;
        height: 10px;
       
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $color-gray;
        border-radius: 20px;
    }

    @media print {

        .container-default-header {
            display: none;
        }
    }

    header{
        display: flex;
        width: 100%;
        height: 144px;
    }

}


    // Pages

    @import "./pages/Home/index.scss";

    // Components // 

   //layout

    @import "./components/layout/Header/index.scss";
    @import "./components/layout/NavBar/index.scss";
    @import "./components/layout/Modal/index.scss";
    @import "./components/layout/Footer/index.scss";

   //shared

    @import "./components/shared/Card/product.scss";
    @import "./components/shared/Card/banner-card.scss";
    @import "./components/shared/Card/circule-eco.scss";
    @import "./components/shared/Card/icon-card.scss";
    @import "./components/shared/Input/index.scss";
    @import "./components/shared/Button/index.scss";


    @import "./response/index.scss"