#HeaderHome {
  align-items: center;
  width: 100%;
  height: 144px;
  flex-direction: column;
  padding-top: 6px;

  .container-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 144px;

    .container-info-top {
      display: flex;
      width: 100%;
      height: 50px;
      justify-content: space-evenly;
      align-items: center;
      padding-left: 50px;
      flex-wrap: wrap;

      .container-top-textIcon {
        display: flex;
        width: auto;
        height: 100%;
        font-size: clamp(10px, 12px, 18px);
        font-family: "Poppins", serif;
        font-weight: 600;
        letter-spacing: 1px;
        font-style: normal;
        gap: 2px;

        img {
          width: 20px;
          height: 20px;
          margin-right: 1px;
        }

        .NormalText {
          color: $color-gray;
          text-wrap: auto;
          text-align: start;
        }

        .PurpleText {
          color: $color-purple;
        }
      }
    }

    .container-logo-search-icons {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      width: 100%;
      height: 72px;
      padding: 2px;

      .img-logo {
        width: 139px;
        height: 41px;
        margin-top: 26px;

        img {
          width: 100%;
          height: 100%;
        }
      }

      .container-search {
        width: 630px;
        height: 18px;

        .search-container {
          position: relative;
          width: 100%;
          max-width: 630px;
          margin: 0 auto;

          input {
            width: 100%;
            padding: 10px 40px 10px 16px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 4px;
            outline: none;
            transition: border-color 0.3s ease;
            border-radius: 10px;
            background-color: #F6F5F2;

            &:focus {
              border-color: $color-purple-2;
            }

            &::placeholder {
              color: $color-gray;
            }
          }

          .search-icon {
            position: absolute;
            top: 60%;
            right: 16px;
            transform: translateY(-50%);
            font-size: 18px;
            border: none;
            cursor: pointer;

            img {
              width: 28px;
              height: 28px;
              background-color: transparent;
              border: none;
            }
          }
        }
      }

      .list-icons {
        display: flex;
        width: 216px;
        height: 32px;
        justify-content: center;
        gap: 32px;
        align-items: center;
        margin-top: 26px;

        img {
          width: 28px;
          height: 28px;
        }

        img:hover{
         cursor: pointer;
        }
      }
    }
  }
    .container-navbar {
      display: flex;
      width: 80%;
      height: 20px;
      flex-direction: row;
      margin-top: 18px;
      border-top: 1px solid $color-gray;
      
      .nav-link{
        display: flex;
        flex-direction: row;
      }

      .nav-item{
        width: 100%;
        display: flex;
        flex-direction: row;
        background-color: black;
      }
    }
}