.default-input {

    width: 100%;
    padding: 10px 40px 10px 16px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s ease;
    border-radius: 10px;
    background-color: #F6F5F2;

    &:focus {
        border-color: $color-purple-2;
    }

    &::placeholder {
        color: $color-gray;
    }


    .default-input-icon{

        position: absolute;
        top: 60%;
        right: 16px;
        transform: translateY(-50%);
        font-size: 18px;
        border: none;
        cursor: pointer;

    }
}